<div class="card mission-card {{#if mission.hidden}}mark-hidden{{/if}}" data-mission-id="{{mission.id}}" data-drop="true">
    <div class="card-header collapsible" data-action="toggleCollapse">
        {{ log this }}

        {{#with context.assignmentContext}}
        <span data-tooltip="{{tooltip}}">{{count}}/{{max}}</span>
        {{/with}}

        <span class="name">{{mission.name}}</span>

        {{#with context.status}}
        <div class="status-display" data-tooltip="{{tooltip}}">
            <i class="{{icon}}"></i>
            <span>{{label}}</span>
        </div>  
        {{/with}}
    </div>

    <div class="card-body">
        <hr>
        <div class="attributes">

            {{#each mission.dc}}
            <div class="attribute-full" data-tooltip="{{explanation}}">
                <span class="label">{{label}} DC</span>
                <span class="total">{{value}}</span>
            </div>
            {{/each}}

            {{#with mission.risk}}
            <div class="attribute-full side-panel" data-tooltip="{{explanation}}">
                <span class="label">Risk Level</span>
                <span class="total smaller">{{label}}</span>
            </div>
            {{/with}}

            {{#with context.duration}}
            <div class="attribute-full side-panel" data-tooltip="{{tooltip}}">
                <span class="label">{{title}}</span>
                <span class="total smaller">{{label}}</span>
            </div>
            {{/with}}
        </div>

        <hr>

        <div class="text-content">
            <div class="paragraph-with-title">
                <span>Description</span>
                <hr>
                <p>{{mission.description}}</p>
            </div>

            {{#with mission.rewards}}
            <div class="paragraph-with-title">
                <span>Rewards</span>
                <hr>
                <ul>
                    {{#if gp}}
                    <li>{{gp}}gp</li>
                    {{/if}}

                    {{#each itemRecords}}
                    {{#if uuid}}
                    <li>{{quantity}}x {{name}}</li>
                    {{/if}}
                    {{/each}}

                    {{#each other}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/with}}

            {{#if mission.hasFinished}}

            <div class="text-content">
                <div class="paragraph-with-title">
                    <span>Report</span>
                    <hr>
                    <p>{{mission.results.summary}}</p>
                </div>
            </div>

            {{/if}}
        </div>



        

        {{#unless mission.hasFinished}}

        <div class="assignments">
            <span class="title">Assignments</span>
            <div class="not-a-table">
                <div class="row header">
                    <div class="cell"></div>
                    <div class="cell"><span>Brawn</span></div>
                    <div class="cell"><span>Cunning</span></div>
                    <div class="cell"><span>Spellcraft</span></div>
                    <div class="cell"><span>Influence</span></div>
                    <div class="cell"><span>Reliability</span></div>
                </div>

                {{#each mission.assignmentsData}}

                <div class="row" data-adventurer-id="{{id}}" data-action="unassign">
                    <div class="cell name-img">
                        <img class="slot-img" src="{{img}}" alt="{{name}}">
                        <span>{{name}}</span>
                    </div>
                    {{#each attributes}}
                    <div class="cell">
                        <span class="{{#if makesRoll}}highlighted{{else}}greyed{{/if}}">{{totalBonus}}</span>
                    </div>
                    {{/each}}
                </div>

                {{/each}}
            </div>
        </div>

        {{/unless}}

        {{#if context.button}}
        <button 
            class="mission-button"
            type="button"
            data-action="{{context.button.action}}"
            data-mission-id="{{mission.id}}"
        >{{context.button.label}}</button>
        {{/if}}

    </div>
</div>