<div class="tab scrollable {{tabs.buildings.cssClass}}" data-tab="buildings" data-group="main">
    {{#each allBuildings}}
        <div class="card building-card {{#if isConstructed}}already-built{{/if}}">
            <div class="card-header">
                <span class="name">{{name}}</span>
                <div class="scale-container">
                    <span class="scale-label">Scale</span>
                    <span class="scale-number">{{scale}}</span>
                </div>
            </div>

            <p class="flavor-text">{{flavorText}}</p>

            <div class="grant-req-split">
                <div class="column grants">
                    <span class="split-title">Grants</span>
                    {{#if grantList}}
                    <ul class="list grants">
                        {{#each grantList}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
                {{#if reqList}}
                <div class="column reqs">
                    <span class="split-title">Requires</span>
                    <ul class="list reqs">
                        {{#each reqList}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>

            {{#unless isButtonHidden}}
            <button 
                class="building-button"
                type="button"
                {{#if isButtonDisabled}}
                    style="text-decoration: line-through;"
                {{/if}}
                data-action="{{buttonAction}}"
                data-buildingid="{{sId}}"
                {{#if isButtonDisabled}}disabled{{/if}}
            >{{buttonText}}</button>
            {{/unless}}
        </div>
    {{/each}}
</div>